@import "../../styles/variables";
.privacy-policy-container {
  line-height: 35px;
  .img-shield {
    height: 30px;
  }
  .money-back-guarantee {
    color: rgb(77, 77, 77);
  }
  .img-microsoft-container {
    height: 90px;
  }
  .img-privacy-responsive {
    height: 100%;
    width: auto;
  }
}
.img-credit-cards-container {
  height: 90px;
}
.display {
  display: none;
}
@media (max-width: 576px) {
  .privacy-policy-container {
    .img-microsoft-container {
      height: 75px;
    }
  }
  .img-credit-cards-container {
    height: 70px;
  }
}
