@import "../../styles/variables";
.privacy-policy-container {
  line-height: 35px;
  width: 80%;
}
.img-shield {
  height: 30px;
}
.money-back-guarantee {
  color: rgb(77, 77, 77);
}
.img-container {
  height: 120px;
}
