@import "../../styles/variables";

.banner {
  height: 30px;
  background-color: color("orange");
  padding: 0.2rem;
}
.banner p {
  color: color("white");
}
.my-button {
  background-color: transparent;
}
