@import "../../styles//variables";
.home-licenses-container {
  background-color: color("lightGray");
}
.label-img {
  height: 15px;
}
/* .column-first {
  max-width: 10%;
}
.column-second {
  max-width: 80%;
}
.primary-row {
  .primary-first-column {
    max-width: 10%;
  }
  .primary-second-column {
    max-width: 80%;
  }
}
.secondary-row {
  .secondary-first-column {
    max-width: 100%;
  }
  .secondary-second-column {
    max-width: 100%;
  }
} */
