@import "../../styles//variables";
.home-licenses-container {
  position: relative;
  background-color: color("lightGray");

  .label-img {
    height: 20px;
    width: auto;
  }
  .share-container {
    width: 77px;
    top: 0;
    .share-img-container {
      height: 200px;
    }
  }
  .license-main-title {
    font-size: 40px;
  }
  .hide-share-links {
    display: none;
  }
  .responsive-img-share {
    width: auto;
    height: 100%;
  }
  .license-container {
    padding: 0 15px 0 15px;
  }
  .skip-button-container {
    right: 0;
  }
  .license-col:nth-child(1) {
    padding: 0 44px 0 0;
  }
  .license-col:nth-child(2) {
    padding: 0 22px;
  }
  .license-col:nth-child(3) {
    padding: 0 0 0 44px;
  }
  .license-col {
    min-width: 308px;
  }
  .list-licenses {
    justify-content: start;
    padding-right: 77px;
  }
  .view {
    display: flex;
  }
}

@media (max-width: 1200px) {
  .home-licenses-container {
    .share-container {
      width: 60px;
    }
    .list-licenses {
      padding-right: 60px;
    }
  }
}
@media (max-width: 1160px) {
  .home-licenses-container {
    .share-container {
      position: absolute;
      top: 0;
      left: 0;
      .share-img-container {
        height: 170px;
      }
    }
    .list-licenses {
      padding: 0 15px;
    }
    .license-col:nth-child(1) {
      padding: 0 26px 0 0;
    }
    .license-col:nth-child(2) {
      padding: 0 13px;
    }
    .license-col:nth-child(3) {
      padding: 0 0 0 26px;
    }
  }
}
@media (max-width: 1010px) {
  .home-licenses-container {
    .license-col:nth-child(1) {
      padding: 0 20px 0 0;
    }
    .license-col:nth-child(2) {
      padding: 0 10px;
    }
    .license-col:nth-child(3) {
      padding: 0 0 0 20px;
    }
  }
}
@media (max-width: 991px) {
  .home-licenses-container {
    .license-col {
      max-width: 326px;
      min-width: 297px;
    }
    .list-licenses {
      width: auto;
      max-width: 730px;
      margin: auto;
      justify-content: space-between;
    }
    .license-col:nth-child(1) {
      padding: 0 15px 0 0;
    }
    .license-col:nth-child(2) {
      padding: 0 0 0 15px;
    }
    .license-col:nth-child(3) {
      padding: 0 15px 0 0;
    }
  }
}
@media (max-width: 768px) {
  .home-licenses-container {
    .home-content {
      margin: 0;
    }
    .share-container {
      display: none;
    }
    .license-main-title {
      font-size: 30px;
    }
    .license-col {
      max-width: 323px;
      min-width: 309px;
    }
    .list-licenses {
      min-width: auto;
      width: auto;
      padding: 0;
    }
    .license-container {
      padding: 0;
    }
    .license-col:nth-child(1) {
      padding: 0 15px 0 0;
    }
    .license-col:nth-child(2) {
      padding: 0 0 0 15px;
    }
    .license-col:nth-child(3) {
      padding: 0 15px 0 0;
    }
  }
}
@media (max-width: 720px) {
  .home-licenses-container {
    .license-container {
      padding: 0 15px;
    }
    .list-licenses {
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
    }
    .license-col {
      max-width: 326px;
      min-width: 297px;
    }
    .license-height {
      margin-top: 25px;
    }
    .license-col:nth-child(1) {
      padding: 0;
    }
    .license-col:nth-child(2) {
      padding: 0;
    }
    .license-col:nth-child(3) {
      padding: 0;
    }
  }
}
@media (max-width: 390px) {
  .home-licenses-container {
    .license-col {
      min-width: 280px;
    }
    .license-container {
      padding: 0;
    }
    .license-text-container {
      margin: 0;
    }
  }
}
