@import "../../styles//variables";
.home-licenses-container {
  background-color: color("lightGray");
  .label-img {
    height: 20px;
    width: auto;
  }
  .share-container {
    margin-left: 5%;
    width: 5%;
    .share-img-container {
      height: 180px;
    }
  }
  .hide-share-links {
    display: none;
  }
  .responsive-img-share {
    width: auto;
    height: 100%;
  }
  .license-container {
    width: 80%;
  }
  .skip-button-container {
    right: 0;
  }
  /*   .license-col {
    width: 32%;
  } */
}
@media (max-width: 992px) {
  .home-licenses-container {
    .license-container {
      width: 95%;
    }
  }
}
@media (max-width: 768px) {
  .home-licenses-container {
    .license-container {
      width: 100%;
    }
  }
}
@media (max-width: 576px) {
  .home-licenses-container {
    .license-col {
      width: 80%;
    }
  }
}
