.container-big {
  //max-width: 1210px +120px;
  max-width: 1330px;
  padding: 0 60px;
}
.container-small {
  //max-width: 1056px +120px
  max-width: 1176px;
  padding: 0 60px;
}
.container-license {
  max-width: 1210px;
  padding: 0 15px;
}
/* @media (max-width: 992px) {
  .container-big {
    max-width: 718px;
  }
}
@media (max-width: 767px) {
  .container-big {
    max-width: 409px;
  }
} */
@media (max-width: 992px) {
  .container-big {
    padding: 0 40px;
  }
  .container-license {
    padding: 0 15px;
  }
}
@media (max-width: 768px) {
  .container-big {
    padding: 0 40px;
  }
}
@media (max-width: 414px) {
  .container-big {
    padding: 0 20px;
  }
}
@media (max-width: 360px) {
  .container-big {
    padding: 0 10px;
  }
}
