@import "../../styles/variables";

.pay-later {
  margin-top: 100px;
  background-color: color("darkGray");
}
.pay-later i {
  color: color("white");
}
.img-pay-later {
  height: 20px;
  width: auto;
}
